{% extends "blog/base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <h1>Welcome to Amazing Blogs!</h1>
        <p>Raise your thoughts, not your voice.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
        <h3>Kuldeep has written {{blogs.count}} blog{{blogs.count|pluralize}}</h3>
        {% for blog in blogs%}
            <div class="col-md-3" style="margin-bottom: 5%;">
                <div class="card">
                    <h2>{{blog.title}}</h2>
                    <img class="card-img-top" src="{{blog.image.url}}" alt="Card image cap" height="300" width="200">
                    <div class="card-body">
                        <h5 class="card-title">{{blog.title}}</h5>
                        <p>{{blog.short_description|striptags}}</p>
                        <a href="{% url 'blog:blog_details' blog.id %}" class="btn btn-primary">Read more...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}